<?xml version="1.0" encoding="utf-8"?>
<Content Key="5ec23a4e-7002-487c-86cb-cc99c35c245f" Alias="About" Level="2">
  <Info>
    <Parent Key="f01e5d2b-8048-4243-bb6a-ae805e2c024a">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-03-01T20:55:34</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b0523077-da4c-4c43-822d-86678569d346">ContentPage</Template>
  </Info>
  <Properties>
    <colorTheme>
      <Value><![CDATA[]]></Value>
    </colorTheme>
    <headerContent>
      <Value><![CDATA[]]></Value>
    </headerContent>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[umb://document/27acc1d335384190b862b45f3b777bf8,umb://document/3d98f83c617d445fb06b0065b3936ffe]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>