<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d98f83c-617d-445f-b06b-0065b3936ffe" Alias="Block List" Level="4">
  <Info>
    <Parent Key="9b4fe373-1e70-4741-8061-4fed7b04141d">Page Tags</Parent>
    <Path>/Home/SiteSettings/PageTags/BlockList</Path>
    <Trashed>false</Trashed>
    <ContentType>pageTag</ContentType>
    <CreateDate>2025-03-01T21:55:55</CreateDate>
    <NodeName Default="Block List" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagAlias>
      <Value><![CDATA[]]></Value>
    </tagAlias>
  </Properties>
</Content>