<?xml version="1.0" encoding="utf-8"?>
<Content Key="27acc1d3-3538-4190-b862-b45f3b777bf8" Alias="Block Grid" Level="4">
  <Info>
    <Parent Key="9b4fe373-1e70-4741-8061-4fed7b04141d">Page Tags</Parent>
    <Path>/Home/SiteSettings/PageTags/BlockGrid</Path>
    <Trashed>false</Trashed>
    <ContentType>pageTag</ContentType>
    <CreateDate>2025-03-01T21:55:40</CreateDate>
    <NodeName Default="Block Grid" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagAlias>
      <Value><![CDATA[]]></Value>
    </tagAlias>
  </Properties>
</Content>