<?xml version="1.0" encoding="utf-8"?>
<Content Key="f01e5d2b-8048-4243-bb6a-ae805e2c024a" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-02-28T20:55:27</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3c5162d3-d6c4-4c17-94ff-afea87e47861">HomePage</Template>
  </Info>
  <Properties>
    <homepageContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/9d8c2e72ad614b40a9c9f936297f7e32",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/d135b14e73cb40e98e07573766d8dcdf",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/62692eab40d54ec49bf598db31214779",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/129b9f6d41904c0bba8cca2e4b50f137",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/829833cf818841df8013da0d1fa27fcc",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/547785d72c7046c382f5b5af19311341",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "button": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/36658009708843ab94553bc7ed6835fa"
            }
          ]
        },
        "contentData": [
          {
            "color": {
              "value": "d69a2d",
              "label": "Gold",
              "sortOrder": 0,
              "id": "1"
            },
            "contentTypeKey": "54cc6e70-615f-4fe7-8fc6-cab78efd41bb",
            "icon": "",
            "label": {
              "markup": "<p>Where is your STO pain?</p>\n<p>Click here to find out</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "link": [
              {
                "udi": "umb://document/326c195b126d45719f972813179c1fc8"
              }
            ],
            "udi": "umb://element/36658009708843ab94553bc7ed6835fa"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "e69f5d49-dbb7-4e28-9526-3fa6b053e07c",
      "text": {
        "markup": "<h4 class=\"lead\"><strong>Yes you can!</strong></h4>\n<p class=\"lead\"> </p>\n<p class=\"lead\">Experience the power of <span class=\"text-gold\" style=\"color: rgb(214, 154, 45);\">integrating</span> your SAP EAM system with your STO processes and reap the benefits during every single <span class=\"text-gold\" style=\"color: rgb(214, 154, 45);\">turnaround</span> event. It doesn’t matter where you are in you STO integration journey.<br>Companies can <span class=\"text-gold\" style=\"color: rgb(214, 154, 45);\">save 5%</span> and even up to 10% of their annual turnaround <span class=\"text-gold\" style=\"color: rgb(214, 154, 45);\">budget</span> by implementing an integrated STO.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": {
        "markup": "<h1>Can you <span class=\"text-gold\" style=\"color: rgb(214, 154, 45);\">integrate</span> your SAP Plant Maintenance data with your Shutdown / Turnaround (<span class=\"text-gold\" style=\"color: rgb(214, 154, 45);\">STO</span>) process<span class=\"text-gold\" style=\"color: rgb(214, 154, 45);\">?</span></h1>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/9d8c2e72ad614b40a9c9f936297f7e32"
    },
    {
      "buttons": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0bc25f2613f24905bed0788caf199063"
            }
          ]
        },
        "contentData": [
          {
            "color": {
              "value": "151515",
              "label": "Black",
              "sortOrder": 1,
              "id": "2"
            },
            "contentTypeKey": "54cc6e70-615f-4fe7-8fc6-cab78efd41bb",
            "icon": [
              "Arrow"
            ],
            "label": {
              "markup": "<p style=\"text-align: center;\">The Problem with Integrating SAP</p>\n<p style=\"text-align: center;\" class=\"lead\">and STO</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "link": [
              {
                "udi": "umb://document/326c195b126d45719f972813179c1fc8"
              }
            ],
            "udi": "umb://element/0bc25f2613f24905bed0788caf199063"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "840d879f-41fe-4cb2-982c-80d866382d06",
      "image": [],
      "page": [
        "Homepage"
      ],
      "section": "2",
      "text": {
        "markup": "<p>SAP implementations are difficult enough. Finance, Logistics, Plant Maintenance, Operations, Project Management are highly repeatable from one company to another.&nbsp;But extending these functions to Shutdowns and Turnarounds is so difficult that most companies don’t even try. And that’s a mistake.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": {
        "markup": "<h4>Integrating your SAP system to a STO scoping, planning and execution application is risky, but with that risk comes huge rewards!</h4>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/d135b14e73cb40e98e07573766d8dcdf"
    },
    {
      "buttons": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2053d25bc49a4656b1fde655953186a4"
            }
          ]
        },
        "contentData": [
          {
            "color": {
              "value": "d69a2d",
              "label": "Gold",
              "sortOrder": 0,
              "id": "1"
            },
            "contentTypeKey": "54cc6e70-615f-4fe7-8fc6-cab78efd41bb",
            "icon": [
              "Arrow"
            ],
            "label": {
              "markup": "<p>Learn more about RightSTO™&nbsp;</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "link": [
              {
                "udi": "umb://document/f01e5d2b80484243bb6aae805e2c024a"
              }
            ],
            "udi": "umb://element/2053d25bc49a4656b1fde655953186a4"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "840d879f-41fe-4cb2-982c-80d866382d06",
      "image": [
        {
          "key": "f3a5ef33-8ca9-457c-ab3e-06632fd76025",
          "mediaKey": "8c322b81-7245-4f71-914b-7da1254e4876"
        }
      ],
      "page": [
        "Homepage"
      ],
      "section": "3",
      "text": {
        "markup": "<p>There are many STO Management Software solutions available today, but which one is right for you. Whilst they all claim to achieve the same result – an improved shutdown / turnaround management experience – they each have their own strengths and weaknesses. RightSTO™ is a customer-focused methodology we have developed to address your company’s unique needs and compare these requirements to each STO vendor offering.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": {
        "markup": "<h2>Introducing the RightSTO™ Experience.</h2>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/62692eab40d54ec49bf598db31214779"
    },
    {
      "contentTypeKey": "bed6cda4-eec0-4ac6-b69a-3e90850b1f4c",
      "features": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3cda0debc7014ee8a5580beee221993c"
            },
            {
              "contentUdi": "umb://element/8cdacabb3073491582f2e4f6661705b5"
            },
            {
              "contentUdi": "umb://element/45d94847b4d7417490065d613c8a5e25"
            },
            {
              "contentUdi": "umb://element/4965b794af68409882c98bc5dffa66b0"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [
              {
                "key": "b496ebce-3ee3-45e4-a743-61e7944579e8",
                "mediaKey": "2d2ced93-e243-48b3-8a48-1684ab6d95af"
              }
            ],
            "text": {
              "markup": "<p>There are many STO Management Software solutions available today, but which one is right for you. Our RightSTO™ toolset helps you choose the right STO for your company’s unique needs.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "title": "RightSTO™ Vendor Selection Toolset",
            "udi": "umb://element/3cda0debc7014ee8a5580beee221993c"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [
              {
                "key": "99f77be8-0e34-423b-89cc-d03ab9f1f949",
                "mediaKey": "f91ac03c-1e84-4650-b35e-5c8ec16e149c"
              }
            ],
            "text": {
              "markup": "<p>We have a deep understanding of the entire STO process from long-range planning / budgeting through scope definition / approval and work package planning through turnaround execution.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "title": "STO Process Capability",
            "udi": "umb://element/8cdacabb3073491582f2e4f6661705b5"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [
              {
                "key": "d7611740-88c1-4409-b775-0ad005b4b866",
                "mediaKey": "fbc2effd-bb07-48ee-a129-836951486914"
              }
            ],
            "text": {
              "markup": "<p>We started implementing STO solutions into SAP in 1997, including the worlds first SAP ~ Primavera bidirectional integration.&nbsp;Since then, we have partnered with many of the world’s largest COG companies – each with their own unique SAP solution.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "title": "27+ Years SAP Experience, incl S4HANA",
            "udi": "umb://element/45d94847b4d7417490065d613c8a5e25"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [
              {
                "key": "14ce67ec-3881-41a9-af76-d4c07ed861e1",
                "mediaKey": "9e22fd60-9509-47d0-b1a9-c8bed74c4209"
              }
            ],
            "text": {
              "markup": "<p>Once you select the right STO application for your company’s needs, our ADD Methodology will ensure a rapid and successful implementation with optimized integration to your own SAP environment.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "title": "Unique ADD Methodology",
            "udi": "umb://element/4965b794af68409882c98bc5dffa66b0"
          }
        ],
        "settingsData": []
      },
      "page": [
        "Homepage"
      ],
      "section": "4",
      "text": "",
      "title": {
        "markup": "<h2>Why choose EliteSTO?</h2>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/129b9f6d41904c0bba8cca2e4b50f137"
    },
    {
      "buttons": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9dd56b2ee5df493bad90821e4ca5a889"
            }
          ]
        },
        "contentData": [
          {
            "color": {
              "value": "d69a2d",
              "label": "Gold",
              "sortOrder": 0,
              "id": "1"
            },
            "contentTypeKey": "54cc6e70-615f-4fe7-8fc6-cab78efd41bb",
            "icon": [
              "Arrow"
            ],
            "label": {
              "markup": "<p class=\"lead\">Click here to see what an optimized</p>\n<p class=\"lead\">STO environment looks like</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "link": [
              {
                "udi": "umb://document/326c195b126d45719f972813179c1fc8"
              }
            ],
            "udi": "umb://element/9dd56b2ee5df493bad90821e4ca5a889"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "840d879f-41fe-4cb2-982c-80d866382d06",
      "image": [
        {
          "key": "2c60ccb6-cfa4-4bf9-984a-320d6f1e37b3",
          "mediaKey": "397a330a-bc5a-4ffd-9e97-83533157d948"
        }
      ],
      "page": [
        "Homepage"
      ],
      "section": "5",
      "text": {
        "markup": "<p>When you get down to the details, how you scope and plan turnaround work, how you procure materials and manage inventory, how you budget and track contractor time and material cost is unique to you.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": {
        "markup": "<h2>Integrate your <span class=\"text-gold\" style=\"color: rgb(214, 154, 45);\">SAP</span> EAM platform with <span class=\"text-gold\" style=\"color: rgb(214, 154, 45);\">STO</span> and P6 to <span class=\"text-gold\" style=\"color: rgb(214, 154, 45);\">optimize</span> your turnaround process.</h2>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/829833cf818841df8013da0d1fa27fcc"
    },
    {
      "buttons": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/288f3f1cab7a43c688686d7624d3db95"
            }
          ]
        },
        "contentData": [
          {
            "color": {
              "value": "151515",
              "label": "Black",
              "sortOrder": 1,
              "id": "2"
            },
            "contentTypeKey": "54cc6e70-615f-4fe7-8fc6-cab78efd41bb",
            "icon": [
              "Arrow"
            ],
            "label": {
              "markup": "<p>Get Started</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "link": [
              {
                "udi": "umb://document/f01e5d2b80484243bb6aae805e2c024a"
              }
            ],
            "udi": "umb://element/288f3f1cab7a43c688686d7624d3db95"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "840d879f-41fe-4cb2-982c-80d866382d06",
      "image": [
        {
          "key": "636d46a8-b1b8-4885-ad96-ee76e481f4bb",
          "mediaKey": "20da6620-556e-4ebd-8187-ee5fd0dc49b3"
        }
      ],
      "page": [
        "Homepage"
      ],
      "section": "6",
      "text": "",
      "title": {
        "markup": "<h3>Get started for free. Take our quick assessment quiz to find out where you are:</h3>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/547785d72c7046c382f5b5af19311341"
    }
  ],
  "settingsData": []
}]]></Value>
    </homepageContent>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>