<?xml version="1.0" encoding="utf-8"?>
<Content Key="9b4fe373-1e70-4741-8061-4fed7b04141d" Alias="Page Tags" Level="3">
  <Info>
    <Parent Key="3e3b0f4d-25cb-4ec4-970e-3793747385cf">Site Settings</Parent>
    <Path>/Home/SiteSettings/PageTags</Path>
    <Trashed>false</Trashed>
    <ContentType>pageTags</ContentType>
    <CreateDate>2025-03-01T21:51:25</CreateDate>
    <NodeName Default="Page Tags" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>