<?xml version="1.0" encoding="utf-8"?>
<Content Key="326c195b-126d-4571-9f97-2813179c1fc8" Alias="Problem" Level="2">
  <Info>
    <Parent Key="f01e5d2b-8048-4243-bb6a-ae805e2c024a">Home</Parent>
    <Path>/Home/Problem</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-03-11T14:54:13</CreateDate>
    <NodeName Default="Problem" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b0523077-da4c-4c43-822d-86678569d346">ContentPage</Template>
  </Info>
  <Properties>
    <colorTheme>
      <Value><![CDATA[{
  "value": "d69a2d",
  "label": "Gold",
  "sortOrder": 0,
  "id": "1"
}]]></Value>
    </colorTheme>
    <headerContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/6f50c426dd404a8da50abc28ad011181",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b5ca5b82-1bb9-494d-8144-63a3b8838522",
      "subtitle": {
        "markup": "<p>Problems we solve</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": {
        "markup": "<h2>Companies who run SAP and perform shutdowns, turnarounds or outages suffer delays, overruns and management problems because they lack an integrated STO process.</h2>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/6f50c426dd404a8da50abc28ad011181"
    }
  ],
  "settingsData": []
}]]></Value>
    </headerContent>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/c8fa76c0af3b4f648dbe85b68d41641e",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/dda59f8487b94efe8df5a5c0f241f849",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/4cc89732e7c14c778319039b34d83c75",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/f585cc9af3a24d1c8d37f75f3471a454",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "bed6cda4-eec0-4ac6-b69a-3e90850b1f4c",
      "features": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/1c596d56cbd34369a655039f9cd75dc7"
            },
            {
              "contentUdi": "umb://element/f86d296986bd45dd95cf1b4e72d14d06"
            },
            {
              "contentUdi": "umb://element/c7bf4b711d0f41bdbed11765dacdb6b3"
            },
            {
              "contentUdi": "umb://element/0b367f2269374fd18ede1f9eb559389e"
            },
            {
              "contentUdi": "umb://element/e773b4e7af5941df97143348e8083a38"
            },
            {
              "contentUdi": "umb://element/7f5d27aa3be941cebac030c6f5b44f65"
            },
            {
              "contentUdi": "umb://element/d956b3b3fe0b4bfd97a0bd5bfc1712fd"
            },
            {
              "contentUdi": "umb://element/700445c562d54427ac4ec5b8df43b927"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [
              {
                "key": "2b30d465-b6ab-4c06-afeb-a66c6051bc5d",
                "mediaKey": "314c5f6b-7294-4ac0-8db1-b2ee186634d8"
              }
            ],
            "text": "",
            "title": "https://prometheus.io/",
            "udi": "umb://element/1c596d56cbd34369a655039f9cd75dc7"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [
              {
                "key": "c9976d38-14bc-4642-af36-2555a4b97b1a",
                "mediaKey": "d6ec6997-5161-4fc0-ae85-d91f08bb61d9"
              }
            ],
            "text": "",
            "title": "https://www.iamtech.com/",
            "udi": "umb://element/d956b3b3fe0b4bfd97a0bd5bfc1712fd"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [
              {
                "key": "19653152-a54d-4b25-a834-b01397a3e155",
                "mediaKey": "afd1748a-d341-4de1-9101-de86ee5c5117"
              }
            ],
            "text": "",
            "title": "https://www.stocontrol.com/",
            "udi": "umb://element/0b367f2269374fd18ede1f9eb559389e"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [
              {
                "key": "d3608a46-af6f-4a66-a2ab-5101d14638f4",
                "mediaKey": "78326d48-ff85-406a-90b6-7b419b5ba465"
              }
            ],
            "text": "",
            "title": "https://maventic.com/",
            "udi": "umb://element/f86d296986bd45dd95cf1b4e72d14d06"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [
              {
                "key": "d332b85b-f09e-45b3-b21f-3b693df89350",
                "mediaKey": "729f6332-768e-439c-973a-48af41442891"
              }
            ],
            "text": "",
            "title": "https://mobideo.com/",
            "udi": "umb://element/e773b4e7af5941df97143348e8083a38"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [
              {
                "key": "f2aa599c-3f03-4a2c-aa2c-e98ec1954fd9",
                "mediaKey": "f35e21b4-398a-46d1-b3c8-ad4e3156276a"
              }
            ],
            "text": "",
            "title": "https://hexagon.com/",
            "udi": "umb://element/c7bf4b711d0f41bdbed11765dacdb6b3"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [
              {
                "key": "320c910a-94fb-4b1a-872c-22d3d101bf5c",
                "mediaKey": "b6e54055-7ac7-49da-a1f3-61ce96676e13"
              }
            ],
            "text": "",
            "title": "https://www.oracle.com/uk/",
            "udi": "umb://element/7f5d27aa3be941cebac030c6f5b44f65"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [
              {
                "key": "00f3c568-c692-4c79-bc79-d56e0529ba05",
                "mediaKey": "8779b1c5-2dae-4278-8ef6-dc25698e9bfc"
              }
            ],
            "text": "",
            "title": "https://www.wipro.com/",
            "udi": "umb://element/700445c562d54427ac4ec5b8df43b927"
          }
        ],
        "settingsData": []
      },
      "page": [
        "Problem"
      ],
      "section": "2",
      "text": {
        "markup": "<p style=\"text-align: center;\">STO Applications are not plug-and-play. Some will be a good fit with your requirements, some won't.</p>\n<p style=\"text-align: center;\"> </p>\n<p style=\"text-align: center;\"><strong><span class=\"text-gold\" style=\"color: rgb(214, 154, 45);\">RightSTO™ </span></strong>will help you choose the right STO for your company.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": {
        "markup": "<h3>There are many STO applications.<br>Which one is right for you?</h3>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/c8fa76c0af3b4f648dbe85b68d41641e"
    },
    {
      "contentTypeKey": "bed6cda4-eec0-4ac6-b69a-3e90850b1f4c",
      "features": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/6f5c6562915d4a25aa1d81ec8248d609"
            },
            {
              "contentUdi": "umb://element/bff00ec53345460585463a9c5ea2cc13"
            },
            {
              "contentUdi": "umb://element/e7f6aeb210f0447096a983e03980bc97"
            },
            {
              "contentUdi": "umb://element/66a61d0bb8794fd98dc1478330629f4a"
            },
            {
              "contentUdi": "umb://element/7c68c3a221a9457a95b2c76cf447e2fa"
            },
            {
              "contentUdi": "umb://element/3f464e134cb74c8c97e9a5643bd75647"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [],
            "text": {
              "markup": "<p class=\"lead\">You need to purchase an STO application but don’t know which one is right for you.</p>\n<p class=\"lead\">&nbsp;</p>\n<p style=\"language: en-GB; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: left; direction: ltr; unicode-bidi: embed; mso-line-break-override: none; word-break: normal; punctuation-wrap: hanging;\" class=\"lead\">Learn more <u style=\"text-underline: single;\">here</u></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "title": "Issue 1",
            "udi": "umb://element/6f5c6562915d4a25aa1d81ec8248d609"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [],
            "text": {
              "markup": "<p class=\"lead\">You are upgrading SAP and need help with your STO process.</p>\n<p class=\"lead\">&nbsp;</p>\n<p style=\"language: en-GB; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: left; direction: ltr; unicode-bidi: embed; mso-line-break-override: none; word-break: normal; punctuation-wrap: hanging;\" class=\"lead\">Learn more <u style=\"text-underline: single;\">here</u></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "title": "Issue 2",
            "udi": "umb://element/bff00ec53345460585463a9c5ea2cc13"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [],
            "text": {
              "markup": "<p class=\"lead\">You work for a consulting partner on a project or bid and need specialist STO help.</p>\n<p class=\"lead\">&nbsp;</p>\n<p style=\"language: en-GB; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: left; direction: ltr; unicode-bidi: embed; mso-line-break-override: none; word-break: normal; punctuation-wrap: hanging;\" class=\"lead\">Learn more <u style=\"text-underline: single;\">here</u></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "title": "Issue 3",
            "udi": "umb://element/e7f6aeb210f0447096a983e03980bc97"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [],
            "text": {
              "markup": "<p class=\"lead\">You already have an STO solution but it’s not functioning fully. Let us do an assessment.</p>\n<p class=\"lead\">&nbsp;</p>\n<p style=\"language: en-GB; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: left; direction: ltr; unicode-bidi: embed; mso-line-break-override: none; word-break: normal; punctuation-wrap: hanging;\" class=\"lead\">Learn more <u style=\"text-underline: single;\">here</u></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "title": "Issue 4",
            "udi": "umb://element/66a61d0bb8794fd98dc1478330629f4a"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [],
            "text": {
              "markup": "<p class=\"lead\">You’re about to start an STO project and have a lot of questions. Ask us for free.</p>\n<p class=\"lead\">&nbsp;</p>\n<p style=\"language: en-GB; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: left; direction: ltr; unicode-bidi: embed; mso-line-break-override: none; word-break: normal; punctuation-wrap: hanging;\" class=\"lead\">Learn more <u style=\"text-underline: single;\">here</u></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "title": "Issue 5",
            "udi": "umb://element/7c68c3a221a9457a95b2c76cf447e2fa"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [],
            "text": {
              "markup": "<p class=\"lead\">Your project has complex data migration challenges, and you need a data strategy.</p>\n<p class=\"lead\">&nbsp;</p>\n<p style=\"language: en-GB; margin-top: 0pt; margin-bottom: 0pt; margin-left: 0in; text-align: left; direction: ltr; unicode-bidi: embed; mso-line-break-override: none; word-break: normal; punctuation-wrap: hanging;\" class=\"lead\">Learn more <u style=\"text-underline: single;\">here</u></p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "title": "Issue 6",
            "udi": "umb://element/3f464e134cb74c8c97e9a5643bd75647"
          }
        ],
        "settingsData": []
      },
      "page": [
        "Problem"
      ],
      "section": "3",
      "text": "",
      "title": {
        "markup": "<h3>Issues we see:</h3>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/dda59f8487b94efe8df5a5c0f241f849"
    },
    {
      "contentTypeKey": "bed6cda4-eec0-4ac6-b69a-3e90850b1f4c",
      "features": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/32e3016d3d714076ad6071ed36290677"
            },
            {
              "contentUdi": "umb://element/c8a1070721bb44459e2f56a57f90b2ae"
            },
            {
              "contentUdi": "umb://element/a7e3d26c09b2486083ef5829b3ea749e"
            },
            {
              "contentUdi": "umb://element/f8ef0a7e53014563b076c237d2a619eb"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [],
            "text": {
              "markup": "<p class=\"lead\"><strong><span class=\"text-gold\" style=\"color: rgb(214, 154, 45);\">75%</span></strong><br>of all Shutdowns go off schedule within the first 2 weeks</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "title": "Bubble 1",
            "udi": "umb://element/32e3016d3d714076ad6071ed36290677"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [],
            "text": {
              "markup": "<p class=\"lead\"><strong><span class=\"text-gold\" style=\"color: rgb(214, 154, 45);\">50%</span></strong><br>of all STO projects are poorly planned</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "title": "Bubble 2",
            "udi": "umb://element/c8a1070721bb44459e2f56a57f90b2ae"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [],
            "text": {
              "markup": "<p class=\"lead\"><strong><span class=\"text-gold\" style=\"color: rgb(214, 154, 45);\">1/3</span></strong><br>of all Turnarounds &nbsp;are considered successful</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "title": "Bubble 4",
            "udi": "umb://element/f8ef0a7e53014563b076c237d2a619eb"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [],
            "text": {
              "markup": "<p class=\"lead\">More than<br><strong>25%</strong><br>of all STO project delays result from workforce shortages</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "title": "Bubble 3",
            "udi": "umb://element/a7e3d26c09b2486083ef5829b3ea749e"
          }
        ],
        "settingsData": []
      },
      "page": [
        "Problem"
      ],
      "section": "4",
      "text": "",
      "title": {
        "markup": "<h3>Did you know:</h3>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/4cc89732e7c14c778319039b34d83c75"
    },
    {
      "contentTypeKey": "bed6cda4-eec0-4ac6-b69a-3e90850b1f4c",
      "features": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/6819073eb3d044ab8693bd2a78fa75f8"
            },
            {
              "contentUdi": "umb://element/ee42b22d53ff4693a106e3d08dcebbe4"
            },
            {
              "contentUdi": "umb://element/40f6bc4cd3a346c080c8e3127bd739e3"
            },
            {
              "contentUdi": "umb://element/9262ac0cd02e471c89c31a887a73eb08"
            },
            {
              "contentUdi": "umb://element/f190c0eebfaa458fa3b2c47079c9c0a3"
            },
            {
              "contentUdi": "umb://element/b321668c7e8040e8a58814bee20031f7"
            },
            {
              "contentUdi": "umb://element/5adfe4dd5a304d788de236aa18dded33"
            },
            {
              "contentUdi": "umb://element/7db1cc9afdbf42d8a3cb7bebaa29e9f7"
            },
            {
              "contentUdi": "umb://element/a41da9a6c3294710be5269784f5b532f"
            },
            {
              "contentUdi": "umb://element/10c0c0f0f20b42b1874be81f64d6e7c5"
            },
            {
              "contentUdi": "umb://element/64888c34c8814b1d8a8757300528f121"
            },
            {
              "contentUdi": "umb://element/7bd0b59454eb495cb61c10d4d390a18b"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [
              {
                "key": "5235b718-2af0-44fb-9c58-e46366f54cb6",
                "mediaKey": "9396be96-025b-4a2c-8b72-8a658923d0b2"
              }
            ],
            "text": {
              "markup": "<p><strong>Common Pain Points</strong></p>\n<p>&nbsp;</p>\n<p>Legacy Process</p>\n<p>Retiring Workforce</p>\n<p>IT Pressures</p>\n<p>Cost Overruns</p>\n<p>Delays</p>\n<p>Quality Control</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "title": "STO Process Owners",
            "udi": "umb://element/ee42b22d53ff4693a106e3d08dcebbe4"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [
              {
                "key": "5c303b3f-d9b4-4549-864d-79da444d10e3",
                "mediaKey": "1fcc17f8-a8a0-4f37-8b4b-f6074f23089f"
              }
            ],
            "text": {
              "markup": "<p><strong>Common Pain Points</strong></p>\n<p><br>Herd the Cats Challenges<br>Complex Integration<br>Manual Processes<br>IT Reputation Damage<br>Lack of STO COE</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "title": "IT Directors",
            "udi": "umb://element/40f6bc4cd3a346c080c8e3127bd739e3"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [],
            "text": "",
            "title": "Business Leaders",
            "udi": "umb://element/6819073eb3d044ab8693bd2a78fa75f8"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [],
            "text": "",
            "title": "Business Users",
            "udi": "umb://element/f190c0eebfaa458fa3b2c47079c9c0a3"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [],
            "text": "",
            "title": "Consulting Companies",
            "udi": "umb://element/a41da9a6c3294710be5269784f5b532f"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [
              {
                "key": "34c26f81-8399-4689-939b-7ea5dedb2f6f",
                "mediaKey": "05b8847c-bce8-4004-a041-dcab68609c1c"
              }
            ],
            "text": {
              "markup": "<p><strong>Common Pain Points</strong></p>\n<p><br>Scope Control (Freeze)<br>Data Transparency<br>Scheduling Integration<br>Disconnected Systems and User Groups<br>Delays + Cost Overruns<br>Inadequate Analytics<br>Slow QAQC Owing to Paper Processes</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "title": "Shutdown Managers",
            "udi": "umb://element/b321668c7e8040e8a58814bee20031f7"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [
              {
                "key": "1573ef44-ded5-40de-99a1-c2cb98ceaa28",
                "mediaKey": "6c6bbf36-9c84-45a4-809f-57fa3dce58a8"
              }
            ],
            "text": {
              "markup": "<p><strong>Common Pain Points</strong></p>\n<p><br>Client Frustration<br>Delays to Projects<br>Losing Sales to Competitors</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "title": "Partners",
            "udi": "umb://element/10c0c0f0f20b42b1874be81f64d6e7c5"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [
              {
                "key": "55953bbe-8e22-408f-84b1-d6b16b149aa7",
                "mediaKey": "08443af6-2834-4cb2-80e5-13da8eddaedb"
              }
            ],
            "text": {
              "markup": "<p><strong>Common Pain Points</strong></p>\n<p><br>Spreadsheet-heavy Process<br>Touching Same Data Many Times<br>Everything Needs a Phonecall or Email<br>Silo'd Working Across Disciplines<br>Scope is Fluid, Even After Freeze<br>Materials Process is  very Manual<br>Contractor Integration (Package Dev)</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "title": "Turnaround Planners",
            "udi": "umb://element/5adfe4dd5a304d788de236aa18dded33"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [
              {
                "key": "222a9260-ca4f-4884-9230-f8549f168f25",
                "mediaKey": "08443af6-2834-4cb2-80e5-13da8eddaedb"
              }
            ],
            "text": {
              "markup": "<p><strong>Common Pain Points</strong></p>\n<p><br>Lacking STO Expertise in Team<br>Poor Design<br>Delays to Project<br>S4HANA Upgrade Challenges <br>Data Migration Knowledge Issues</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "title": "Project Teams",
            "udi": "umb://element/64888c34c8814b1d8a8757300528f121"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [
              {
                "key": "7b886104-8fa1-44a3-ae9b-77e7b377cd09",
                "mediaKey": "05b8847c-bce8-4004-a041-dcab68609c1c"
              }
            ],
            "text": {
              "markup": "<p><strong>Common Pain Points</strong></p>\n<p><br>Data Transparency<br>Overall Status Across all Events<br>Delays + Cost Overruns Hurts Results<br>Inadequate Analytics<br>Corporate Pressure</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "title": "Site Managers",
            "udi": "umb://element/9262ac0cd02e471c89c31a887a73eb08"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [
              {
                "key": "6acc72ff-5a28-4882-b762-17a2fcc2ecfa",
                "mediaKey": "08443af6-2834-4cb2-80e5-13da8eddaedb"
              }
            ],
            "text": {
              "markup": "<p><strong>Common Pain Points</strong></p>\n<p><br>Credibility Gap with Business<br>Can't Find a Viable Solution<br>Complex Process is Overwhelming<br>STO SAP Requirements Were Done by Others<br>No-win Situation: Between IT and Business<br>Users Hate SAP but Must Use It<br>Current / Pending S4HANA Upgrade</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "title": "Business Analysts",
            "udi": "umb://element/7db1cc9afdbf42d8a3cb7bebaa29e9f7"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [
              {
                "key": "07d6d7d3-1964-4bbd-bcb3-89484ff3a5c5",
                "mediaKey": "6c6bbf36-9c84-45a4-809f-57fa3dce58a8"
              }
            ],
            "text": {
              "markup": "<p><strong>Common Pain Points</strong></p>\n<p><br>Lacking STO Expertise in Team<br>Credibility Gaps<br>Losing Sales to Competitors<br>Client Confidence Concerns</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "title": "Industry Leads",
            "udi": "umb://element/7bd0b59454eb495cb61c10d4d390a18b"
          }
        ],
        "settingsData": []
      },
      "page": [
        "Problem"
      ],
      "section": "5",
      "text": "",
      "title": {
        "markup": "<h3>Who we help:</h3>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/f585cc9af3a24d1c8d37f75f3471a454"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>