<?xml version="1.0" encoding="utf-8"?>
<Content Key="2a27db49-6f97-484c-99ca-ba024a6eb5a5" Alias="Search" Level="2">
  <Info>
    <Parent Key="f01e5d2b-8048-4243-bb6a-ae805e2c024a">Home</Parent>
    <Path>/Home/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>searchPage</ContentType>
    <CreateDate>2025-03-01T20:57:48</CreateDate>
    <NodeName Default="Search" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="87c0c132-3c83-4214-b4b4-1c3b304989a6">SearchPage</Template>
  </Info>
  <Properties>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>