<?xml version="1.0" encoding="utf-8"?>
<Content Key="3e3b0f4d-25cb-4ec4-970e-3793747385cf" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="f01e5d2b-8048-4243-bb6a-ae805e2c024a">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-03-01T21:45:35</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/3a0100e8715e4ee9b4fbfdfdd4d988c7",
        "areas": [
          {
            "key": "4ca536ae-0671-4d33-9660-0391064aa8a7",
            "items": [
              {
                "contentUdi": "umb://element/33ac633d210a40a4ba2a6b5c33db3f61",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "cf1cff74-049b-415b-8922-403f031318dc",
            "items": [
              {
                "contentUdi": "umb://element/6f0cc0e17dc544a08c943d7ede016574",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "61b32f6c-7e85-436a-80a8-ae2f8cf1e2ef",
            "items": [
              {
                "contentUdi": "umb://element/bf6c6b06be804e8c9367fb7e70fdb59c",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "38a35ec1-7667-49b4-a294-13893f2700d0",
      "udi": "umb://element/3a0100e8715e4ee9b4fbfdfdd4d988c7"
    },
    {
      "contentTypeKey": "c01ab353-84e2-4562-b04f-36e170d31b03",
      "text": {
        "markup": "<p><img src=\"?rmode=max&amp;width=129&amp;height=164\" alt=\"EliteSTO Logo\" width=\"129\" height=\"164\" data-udi=\"umb://media/eb6993fd9eef47978f5f146a0d3584a9\"></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": "",
      "udi": "umb://element/33ac633d210a40a4ba2a6b5c33db3f61"
    },
    {
      "contentTypeKey": "c01ab353-84e2-4562-b04f-36e170d31b03",
      "text": {
        "markup": "<p class=\"lead\">Don’t fall behind, subscribe to receive inspiration for SAP ERP automation.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": "",
      "udi": "umb://element/6f0cc0e17dc544a08c943d7ede016574"
    },
    {
      "contentTypeKey": "d446bc4f-d9b2-4c78-bea5-81c3c33cf86c",
      "links": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/523c95f0c0d4452fb87a552dc18a06ab"
            },
            {
              "contentUdi": "umb://element/f7a3c719f94a41068ea8e364d742fe2a"
            },
            {
              "contentUdi": "umb://element/fd9cc19478364dd5a03774a291551fcb"
            },
            {
              "contentUdi": "umb://element/a6674febe3ab4b158073174f3062f3c8"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "038869b0-4a0e-49e3-b641-fdfc51fb6609",
            "icon": [],
            "link": [
              {
                "name": "Problem",
                "udi": "umb://document/5ec23a4e7002487c86cbcc99c35c245f"
              }
            ],
            "udi": "umb://element/523c95f0c0d4452fb87a552dc18a06ab"
          },
          {
            "contentTypeKey": "038869b0-4a0e-49e3-b641-fdfc51fb6609",
            "icon": [],
            "link": [
              {
                "name": "Platform",
                "udi": "umb://document/5ec23a4e7002487c86cbcc99c35c245f"
              }
            ],
            "udi": "umb://element/f7a3c719f94a41068ea8e364d742fe2a"
          },
          {
            "contentTypeKey": "038869b0-4a0e-49e3-b641-fdfc51fb6609",
            "icon": [],
            "link": [
              {
                "name": "Careers",
                "udi": "umb://document/5ec23a4e7002487c86cbcc99c35c245f"
              }
            ],
            "udi": "umb://element/fd9cc19478364dd5a03774a291551fcb"
          },
          {
            "contentTypeKey": "038869b0-4a0e-49e3-b641-fdfc51fb6609",
            "icon": [],
            "link": [
              {
                "name": "Sign In",
                "udi": "umb://document/5ec23a4e7002487c86cbcc99c35c245f"
              }
            ],
            "udi": "umb://element/a6674febe3ab4b158073174f3062f3c8"
          }
        ],
        "settingsData": []
      },
      "title": "",
      "udi": "umb://element/bf6c6b06be804e8c9367fb7e70fdb59c"
    }
  ],
  "settingsData": []
}]]></Value>
    </footerContent>
    <mainNavigation>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/d7b65ef71e2d4d6cb2cc744f634390a7",
        "areas": [
          {
            "key": "300f347b-6926-4253-b2e3-40c50e686f57",
            "items": [
              {
                "contentUdi": "umb://element/3da3adddf62a45fbbe19f3595d32919f",
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/86bef7e160f94d05bf73c538822460c4",
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/2c479990ae5a46bd86133fd6a0ecf790",
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/3c2510f8436d478990c99c99964bd4bd",
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1
              },
              {
                "contentUdi": "umb://element/54d3ee872ac54326bade0ed9def3ff01",
                "areas": [],
                "columnSpan": 1,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "70633905-307b-4e16-a3aa-2f5d8f070819",
      "udi": "umb://element/d7b65ef71e2d4d6cb2cc744f634390a7"
    },
    {
      "childLinks": "",
      "contentTypeKey": "63ad9c79-e0b3-4853-a5b1-d82417254c81",
      "hasIcon": [],
      "isButton": "0",
      "link": [
        {
          "name": "Problem",
          "udi": "umb://document/326c195b126d45719f972813179c1fc8"
        }
      ],
      "title": "Problem",
      "udi": "umb://element/3da3adddf62a45fbbe19f3595d32919f"
    },
    {
      "childLinks": "",
      "contentTypeKey": "63ad9c79-e0b3-4853-a5b1-d82417254c81",
      "hasIcon": [],
      "isButton": "0",
      "link": [
        {
          "name": "Solution",
          "udi": "umb://document/2a27db496f97484c99caba024a6eb5a5"
        }
      ],
      "title": "Solution",
      "udi": "umb://element/86bef7e160f94d05bf73c538822460c4"
    },
    {
      "childLinks": [
        {
          "name": "About Us",
          "udi": "umb://document/5ec23a4e7002487c86cbcc99c35c245f"
        },
        {
          "name": "Careers",
          "udi": "umb://document/f01e5d2b80484243bb6aae805e2c024a"
        }
      ],
      "contentTypeKey": "63ad9c79-e0b3-4853-a5b1-d82417254c81",
      "hasIcon": [],
      "isButton": "0",
      "link": "",
      "title": "About",
      "udi": "umb://element/3c2510f8436d478990c99c99964bd4bd"
    },
    {
      "childLinks": "",
      "contentTypeKey": "63ad9c79-e0b3-4853-a5b1-d82417254c81",
      "hasIcon": [],
      "isButton": "0",
      "link": [
        {
          "name": "Platform",
          "udi": "umb://document/5ec23a4e7002487c86cbcc99c35c245f"
        }
      ],
      "title": "Platform",
      "udi": "umb://element/2c479990ae5a46bd86133fd6a0ecf790"
    },
    {
      "childLinks": "",
      "contentTypeKey": "63ad9c79-e0b3-4853-a5b1-d82417254c81",
      "hasIcon": [],
      "isButton": "0",
      "link": [
        {
          "name": "Learn",
          "udi": "umb://document/2a27db496f97484c99caba024a6eb5a5"
        }
      ],
      "title": "Learn",
      "udi": "umb://element/54d3ee872ac54326bade0ed9def3ff01"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainNavigation>
    <siteName>
      <Value><![CDATA[Kristen]]></Value>
    </siteName>
  </Properties>
</Content>