<?xml version="1.0" encoding="utf-8"?>
<Content Key="bd534767-d96e-48cf-b228-b988f10a200e" Alias="Solution" Level="2">
  <Info>
    <Parent Key="f01e5d2b-8048-4243-bb6a-ae805e2c024a">Home</Parent>
    <Path>/Home/Solution</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-03-22T01:18:53</CreateDate>
    <NodeName Default="Solution" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b0523077-da4c-4c43-822d-86678569d346">ContentPage</Template>
  </Info>
  <Properties>
    <colorTheme>
      <Value><![CDATA[]]></Value>
    </colorTheme>
    <headerContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/0db3e40fa52c43eaa58940df8332b869",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b5ca5b82-1bb9-494d-8144-63a3b8838522",
      "subtitle": {
        "markup": "<p>Our Solution</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": {
        "markup": "<h3>We help <span class=\"text-gold\" style=\"color: rgb(214, 154, 45);\">Oil &amp; Gas</span> and <span class=\"text-gold\" style=\"color: rgb(214, 154, 45);\">Chemical</span> companies who <span class=\"text-gold\" style=\"color: rgb(214, 154, 45);\">run SAP</span> and perform&nbsp;large shutdowns or turnarounds <span class=\"text-gold\" style=\"color: rgb(214, 154, 45);\">save millions</span> by improving their <span class=\"text-gold\" style=\"color: rgb(214, 154, 45);\">STO</span> and SAP processes.</h3>\n<p>&nbsp;</p>\n<h3>Here’s how we do it.</h3>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/0db3e40fa52c43eaa58940df8332b869"
    }
  ],
  "settingsData": []
}]]></Value>
    </headerContent>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/961c87dd3cad44eeadd2608a5348d65e",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/c27285681ae24a50bb72522cf1ff4ef3",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/3d11ce88647a4422a4e436aa8d93d6e5",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "bed6cda4-eec0-4ac6-b69a-3e90850b1f4c",
      "features": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b77bba1e6d9d48719f317ea48d4b958a"
            },
            {
              "contentUdi": "umb://element/0e3fad4198574be78fdeeeae4b91e3c0"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [
              {
                "key": "bdfa185c-948e-409d-8237-0f12dd6f78f7",
                "mediaKey": "e6f1f980-4869-4fc2-b4f0-5080c5521fe5"
              }
            ],
            "text": "",
            "title": "Reality check off",
            "udi": "umb://element/b77bba1e6d9d48719f317ea48d4b958a"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [
              {
                "key": "e55155c7-823d-40db-9bc9-ca9269cdee56",
                "mediaKey": "7b123b17-9300-40c4-b2be-03ff8c7f7a46"
              }
            ],
            "text": "",
            "title": "Reality check on",
            "udi": "umb://element/0e3fad4198574be78fdeeeae4b91e3c0"
          }
        ],
        "settingsData": []
      },
      "page": [
        "Solution"
      ],
      "section": "2",
      "text": {
        "markup": "<p style=\"text-align: center;\" class=\"lead\"><span class=\"text-gold\" style=\"color: rgb(214, 154, 45);\">Move from a complex mess to an integrated data model</span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": {
        "markup": "<p style=\"text-align: center;\" class=\"lead\">STO Landscape</p>\n<h3 style=\"text-align: center;\">Current Reality vs Future State</h3>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/961c87dd3cad44eeadd2608a5348d65e"
    },
    {
      "buttons": "",
      "contentTypeKey": "840d879f-41fe-4cb2-982c-80d866382d06",
      "image": [],
      "page": [
        "Solution"
      ],
      "section": "3",
      "text": {
        "markup": "<h4><span class=\"text-gold\" style=\"color: rgb(214, 154, 45);\">RightSTO™</span> is the only pre-packaged methodology available to help companies select the right STO application for them.</h4>\n<h4>Click <a href=\"/{localLink:umb://document/5ec23a4e7002487c86cbcc99c35c245f}\" title=\"About\"><span class=\"text-gold\" style=\"color: rgb(214, 154, 45);\">Here</span></a> to learn more</h4>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": {
        "markup": "<h4><span class=\"text-gold\" style=\"color: rgb(214, 154, 45);\">RightSTO™</span></h4>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/c27285681ae24a50bb72522cf1ff4ef3"
    },
    {
      "contentTypeKey": "bed6cda4-eec0-4ac6-b69a-3e90850b1f4c",
      "features": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/1abf3e4ef24245b48ebebec9a3c32234"
            },
            {
              "contentUdi": "umb://element/d20fa7a2cc854da5a25a7e6e4eb6a8a8"
            },
            {
              "contentUdi": "umb://element/9a1a91257d814ec081a595a899cb7a01"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [],
            "text": {
              "markup": "<p class=\"lead\"><span class=\"text-gold\" style=\"color: rgb(214, 154, 45);\">Problem:</span> You’re having problems with your current shutdown / turnaround process management and believe that an STO Management application will help resolve these issues.</p>\n<p class=\"lead\"><span class=\"text-gold\" style=\"color: rgb(214, 154, 45);\">But:</span> There are so many STO systems available. And you don’t know which one is the right STO application for your company.</p>\n<p class=\"lead\"><span class=\"text-gold\" style=\"color: rgb(214, 154, 45);\">Indeed:</span> Selecting the wrong STO could exacerbate your problems.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "title": "RightSTO™",
            "udi": "umb://element/1abf3e4ef24245b48ebebec9a3c32234"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [],
            "text": {
              "markup": "<p class=\"lead\"><span class=\"text-gold\" style=\"color: rgb(214, 154, 45);\">Solution:</span> RightSTO™ is our proprietary ten-step methodology to help you select the right STO vendor to meet your specific and unique needs.</p>\n<ol>\n<li class=\"lead\">Detailed Requirements Matrix</li>\n<li class=\"lead\">RFI High-level Requirements Matrix</li>\n<li class=\"lead\">RFI Document Assist for PTP Buyers</li>\n<li class=\"lead\">RFI Requirements Compliance</li>\n<li class=\"lead\">RFI Selection</li>\n<li class=\"lead\">RFQ Detailed Requirements Compliance</li>\n<li class=\"lead\">RFQ Assist – for PTP Buyers</li>\n<li class=\"lead\">RFQ Short-list</li>\n<li class=\"lead\">Final Vendor Evaluation Criteria</li>\n<li class=\"lead\">Final STO Vendor Comparison Presentation</li>\n</ol>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "title": "Visual Process Off",
            "udi": "umb://element/d20fa7a2cc854da5a25a7e6e4eb6a8a8"
          },
          {
            "contentTypeKey": "86e1acba-9cce-4fc6-bdf6-a7101afb6615",
            "image": [
              {
                "key": "cc222e89-fdb2-42bb-8a85-64543e29bd3b",
                "mediaKey": "a76a2d3d-7c1f-4d30-838f-e12105585f84"
              }
            ],
            "text": {
              "markup": "<h3>STO Selection Methodology&nbsp;</h3>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            },
            "title": "Visual Process On",
            "udi": "umb://element/9a1a91257d814ec081a595a899cb7a01"
          }
        ],
        "settingsData": []
      },
      "page": [
        "Solution"
      ],
      "section": "4",
      "text": {
        "markup": "<h3><span class=\"text-gold\" style=\"color: rgb(214, 154, 45);\">RightSTO™</span></h3>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "title": {
        "markup": "<h5>Visual Process</h5>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "udi": "umb://element/3d11ce88647a4422a4e436aa8d93d6e5"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>