<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="54cc6e70-615f-4fe7-8fc6-cab78efd41bb" Alias="button" Level="4">
  <Info>
    <Name>Button</Name>
    <Icon>icon-checkbox-empty color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Block+List/Content+Models</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>073d6a60-33f5-41d0-bd95-1b4602ae4a22</Key>
      <Name>Color</Name>
      <Alias>color</Alias>
      <Definition>54a7e82b-5b55-488f-aee7-939aa159ed48</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the button color]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="button">Button</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a38d8867-9386-4742-b269-7971a888724a</Key>
      <Name>Icon</Name>
      <Alias>icon</Alias>
      <Definition>cf13cd2d-fa9d-4ed3-8380-c5d1aeb3d128</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select an icon, if any, to be displayed next to the button text]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="button">Button</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c5f6420f-21ca-4271-aeaf-ca1060d8f483</Key>
      <Name>Label</Name>
      <Alias>label</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the label for the button]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="button">Button</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f837f988-21e0-4981-839b-20db1f4e9b49</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>826ae167-3ee7-4aaf-90b9-e78c4bc2b436</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the link for the button]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="button">Button</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>24528e6b-69b4-434b-9820-fbf966f17a3b</Key>
      <Caption>Button</Caption>
      <Alias>button</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>