<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e69f5d49-dbb7-4e28-9526-3fa6b053e07c" Alias="homepageHeader" Level="4">
  <Info>
    <Name>Homepage Header</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Block+Grid/Content+Models</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f51491ac-5cd4-44db-81f3-5a673de093ae</Key>
      <Name>Button</Name>
      <Alias>button</Alias>
      <Definition>54e96afb-ac1b-4d3d-992b-e32d4963dc3e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the button details (optional)]]></Description>
      <SortOrder>15</SortOrder>
      <Tab Alias="content/header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>41c95cbe-7383-4418-b263-0c63e4a817b9</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>d269df95-c7b5-4b12-914f-c1fe804ceb11</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the text that appears under the title]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="content/header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>70742a3b-a09d-4993-bd70-4acd4bb03cbf</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>d269df95-c7b5-4b12-914f-c1fe804ceb11</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the title]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content/header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6bcabdab-a5f7-44f7-82cf-f1ea8f192443</Key>
      <Caption>Header</Caption>
      <Alias>content/header</Alias>
      <Type>Group</Type>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Key>a7806ffa-4b53-4d5d-be34-bb1ac063b63d</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>