<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="83c5629b-025c-4397-b65f-32d8664578dc" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the landing page of the website</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="37861c98-3c23-4161-b2f1-430d39aafe1c">homepageContentProperties</Composition>
      <Composition Key="75fd7321-feea-4757-ad90-e932f28b3409">sEOProperties</Composition>
      <Composition Key="8b9429c7-2c69-45f6-9297-daa6a6ca6fbb">taggingProperties</Composition>
      <Composition Key="0ef81277-78b4-447c-81aa-8a71b5c53519">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3c5162d3-d6c4-4c17-94ff-afea87e47861">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="91eb0eee-a239-487b-85f0-344a000e31ae" SortOrder="0">contentPage</ContentType>
    <ContentType Key="02f77b68-8fe0-4370-b191-f84dfa138bcd" SortOrder="1">searchPage</ContentType>
    <ContentType Key="bf0d6e2e-d400-45e2-95de-041caf87575a" SortOrder="2">siteSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>