<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="02f77b68-8fe0-4370-b191-f84dfa138bcd" Alias="searchPage" Level="2">
  <Info>
    <Name>Search Page</Name>
    <Icon>icon-search color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The search page for the site</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="75fd7321-feea-4757-ad90-e932f28b3409">sEOProperties</Composition>
      <Composition Key="8b9429c7-2c69-45f6-9297-daa6a6ca6fbb">taggingProperties</Composition>
      <Composition Key="0ef81277-78b4-447c-81aa-8a71b5c53519">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>SearchPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="87c0c132-3c83-4214-b4b4-1c3b304989a6">SearchPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>