@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}
<html lang="en">
@await Html.PartialAsync("header")
<body current-color="gold" class="bg-gold color-black">
@await Html.PartialAsync("nav")
@RenderBody()
@await Html.PartialAsync("footer")
</body>
</html>