@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	@await Html.PartialAsync("header")
</head>
<body current-color="gold" class="bg-gold color-black">
@await Html.PartialAsync("nav")
@RenderBody()
@await Html.PartialAsync("footer")
</body>
</html>