@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@{
    if (Model?.Areas.Any() != true) { return; }
}
<div class="site-nav">
    <div id="desktop-nav">
        <div>
            <div id="site-logo">
                <a href="/">
                    <img src="/images/logo.png" alt="EliteSTO logo" />
                </a>
            </div>
            <nav class="nav-inner text-sm color-base">
                @foreach(var area in Model.Areas)
                {
                    @await Html.GetBlockGridItemAreaHtmlAsync(area)
                }
            </nav>
        </div>
    </div>
    <div id="mobile-nav">
        <div>
            <div id="mobile-logo">
                <img src="/images/logo.png" alt="EliteSTO logo" />
            </div>
            <div class="nav-inner-mobile">
                <button id="nav-toggle" aria-label="Toggle navigation menu">
                    <div class="nav-toggle-bar"></div>
                    <div class="nav-toggle-bar"></div>
                </button>
                <div id="mobile-links">
                    <div>
                        @foreach (var area in Model.Areas)
                        {
                            @await Html.GetBlockGridItemAreaHtmlAsync(area)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
