@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@{
    if (Model?.Areas.Any() != true) { return; }
    string Logo = ViewBag.BodyClass == "gold" ? "/images/logo-dark.png" : "/images/logo.png";
}
<div id="main-nav" class="site-nav roboto-flex-400">
    <div id="desktop-nav">
        <div>
            <div id="site-logo">
                <a href="/">
                    <img id="site-logo-img" src="@Logo" alt="EliteSTO logo" />
                </a>
            </div>
            <nav class="nav-inner text-sm">
                @foreach(var area in Model.Areas)
                {
                    @await Html.GetBlockGridItemAreaHtmlAsync(area)
                }
            </nav>
        </div>
    </div>
    <div id="mobile-nav">
        <div>
            <div id="mobile-logo">
                <a href="/">
                    <img id="site-logo-mobile" src="@Logo" alt="EliteSTO logo" />
                </a>
            </div>
            <div class="nav-inner-mobile">
                <button style="margin-top:20px;" type="button" id="nav-toggle" aria-label="Toggle navigation menu">
                    <div class="nav-toggle-bar"></div>
                    <div class="nav-toggle-bar"></div>
                </button>
                <div id="mobile-links">
                    <div>
                        @foreach (var area in Model.Areas)
                        {
                            @await Html.GetBlockGridItemAreaHtmlAsync(area)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
