@inherits UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ContentModels.StandardHeader>>

<div class="partial-top">
    <div class="flex-col">
        <div>@Model.Content.Subtitle</div>
        <div>@Model.Content.Title</div>
    </div>
</div>
<div class="hero-filler"></div>
