<?xml version="1.0" encoding="utf-8"?>
<Media Key="afd1748a-d341-4de1-9101-de86ee5c5117" Alias="Cleopatra For Turnarounds White" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CleopatraForTurnaroundsWhite</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-03-13T20:06:33</CreateDate>
    <NodeName Default="Cleopatra For Turnarounds White" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Cleopatra for Turnarounds]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rr0ndl0b/cleopatra-for-turnarounds-white.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>