<?xml version="1.0" encoding="utf-8"?>
<Media Key="19b0c4b0-d225-4618-a078-647c42e20214" Alias="Facebook" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Facebook</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-03-04T14:40:31</CreateDate>
    <NodeName Default="Facebook" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/qhclagjf/facebook.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>