<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e22fd60-9509-47d0-b1a9-c8bed74c4209" Alias="Feature4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Feature4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-03-10T12:29:08</CreateDate>
    <NodeName Default="Feature4" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m14dfhqj/feature4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>