<?xml version="1.0" encoding="utf-8"?>
<Media Key="f35e21b4-398a-46d1-b3c8-ad4e3156276a" Alias="Hexagon Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HexagonLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-03-13T20:20:45</CreateDate>
    <NodeName Default="Hexagon Logo" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Hexagon]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/quqf322k/hexagon-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>