<?xml version="1.0" encoding="utf-8"?>
<Media Key="728223b2-4160-4145-a243-d2a3db82a265" Alias="Icon Arrow (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconArrow1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-03-12T11:36:48</CreateDate>
    <NodeName Default="Icon Arrow (1)" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/qmrje2ta/icon-arrow.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>