<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed249b39-0d82-4b17-970f-df90ebc97d3d" Alias="Icon Arrow" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconArrow</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-03-12T11:35:28</CreateDate>
    <NodeName Default="Icon Arrow" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/bcndj1mc/icon-arrow.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>