<?xml version="1.0" encoding="utf-8"?>
<Media Key="78326d48-ff85-406a-90b6-7b419b5ba465" Alias="Maventic Logo (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MaventicLogo2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-03-13T20:15:15</CreateDate>
    <NodeName Default="Maventic Logo (2)" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Maventic]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jzwde4ef/maventic-logo-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>