<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c3405b1-6153-4967-b966-09f2faae19f5" Alias="Mobideo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Mobideo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-03-13T20:17:17</CreateDate>
    <NodeName Default="Mobideo" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Mobideo]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/qacdixct/mobideo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>