<?xml version="1.0" encoding="utf-8"?>
<Media Key="729f6332-768e-439c-973a-48af41442891" Alias="Mobideo White" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MobideoWhite</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-03-13T20:18:37</CreateDate>
    <NodeName Default="Mobideo White" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Mobideo]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/anrj42uo/mobideo-white.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>