<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6e54055-7ac7-49da-a1f3-61ce96676e13" Alias="Oracle" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Oracle</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-03-13T20:26:22</CreateDate>
    <NodeName Default="Oracle" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Oracle UK]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/mraolnwh/oracle.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>