<?xml version="1.0" encoding="utf-8"?>
<Media Key="a76a2d3d-7c1f-4d30-838f-e12105585f84" Alias="Screenshot 2025 03 25 220834 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Screenshot202503252208341</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-03-25T22:28:12</CreateDate>
    <NodeName Default="Screenshot 2025 03 25 220834 (1)" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hmwhvjy5/screenshot-2025-03-25-220834.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>