<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b123b17-9300-40c4-b2be-03ff8c7f7a46" Alias="Solution Sec 2 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SolutionSec22</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-03-24T11:52:36</CreateDate>
    <NodeName Default="Solution Sec 2 2" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ce3be4ya/solution-sec-2-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>