<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2941b77-1964-4b87-b44d-d913ef60dfa9" Alias="User Icon" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UserIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-03-03T23:48:42</CreateDate>
    <NodeName Default="User Icon" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/iynjjyte/user-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>