<?xml version="1.0" encoding="utf-8"?>
<Media Key="05b8847c-bce8-4004-a041-dcab68609c1c" Alias="Whowehelp3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Whowehelp3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-03-18T20:55:53</CreateDate>
    <NodeName Default="Whowehelp3" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/jwclqbpi/whowehelp3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>