<?xml version="1.0" encoding="utf-8"?>
<Media Key="08443af6-2834-4cb2-80e5-13da8eddaedb" Alias="Whowehelp4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Whowehelp4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-03-19T21:18:20</CreateDate>
    <NodeName Default="Whowehelp4" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/y23eicbu/whowehelp4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>