<?xml version="1.0" encoding="utf-8"?>
<Media Key="9396be96-025b-4a2c-8b72-8a658923d0b2" Alias="Whowehelp1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Whowehelp1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-03-18T20:37:05</CreateDate>
    <NodeName Default="Whowehelp1" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/u45jne01/whowehelp1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>