<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c6bbf36-9c84-45a4-809f-57fa3dce58a8" Alias="Whowehelp5" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Whowehelp5</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-03-18T20:56:34</CreateDate>
    <NodeName Default="Whowehelp5" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/a45hw1ee/whowehelp5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>