<?xml version="1.0" encoding="utf-8"?>
<Media Key="1fcc17f8-a8a0-4f37-8b4b-f6074f23089f" Alias="Whowehelp2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Whowehelp2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-03-18T20:44:48</CreateDate>
    <NodeName Default="Whowehelp2" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/zelnyh3a/whowehelp2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>