<?xml version="1.0" encoding="utf-8"?>
<Media Key="8779b1c5-2dae-4278-8ef6-dc25698e9bfc" Alias="Wipro New Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WiproNewLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-03-13T23:44:18</CreateDate>
    <NodeName Default="Wipro New Logo" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Wipro]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/4syhtb3o/wipro_new_logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>