<?xml version="1.0" encoding="utf-8"?>
<DataType Key="54a7e82b-5b55-488f-aee7-939aa159ed48" Alias="[ColorPicker] - Brand Colors" Level="2">
  <Info>
    <Name>[ColorPicker] - Brand Colors</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"d69a2d\",\"label\":\"Gold\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"151515\",\"label\":\"Black\"}"
    }
  ],
  "UseLabel": true
}]]></Config>
</DataType>