<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cf13cd2d-fa9d-4ed3-8380-c5d1aeb3d128" Alias="[Dropdown] - Button Icon Selector" Level="2">
  <Info>
    <Name>[Dropdown] - Button Icon Selector</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "None"
    },
    {
      "id": 2,
      "value": "Arrow"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>