<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dd4506b1-b3cd-47cd-a895-0f6702487fe0" Alias="[Dropdown] - Page Selector" Level="2">
  <Info>
    <Name>[Dropdown] - Page Selector</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Homepage"
    },
    {
      "id": 2,
      "value": "Problem"
    },
    {
      "id": 3,
      "value": "Solution"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>