<?xml version="1.0" encoding="utf-8"?>
<DataType Key="339ee417-b1b6-4a31-9667-8ae303636d2a" Alias="[MediaPicker] - Pick SVG" Level="2">
  <Info>
    <Name>[MediaPicker] - Pick SVG</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>