<?xml version="1.0" encoding="utf-8"?>
<DataType Key="388d4bf4-c073-496b-b2da-f5e3162d0b8d" Alias="[MNTP] - Page Tag Picker" Level="2">
  <Info>
    <Name>[MNTP] - Page Tag Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "pageTag",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "Current",
      "originKey": null,
      "querySteps": [
        {
          "alias": "NearestAncestorOrSelf",
          "anyOfDocTypeKeys": [
            "83c5629b-025c-4397-b65f-32d8664578dc"
          ]
        },
        {
          "alias": "NearestDescendantOrSelf",
          "anyOfDocTypeKeys": [
            "733ff090-45b6-4080-a6a5-ea68aeb4d027"
          ]
        }
      ]
    },
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>