<?xml version="1.0" encoding="utf-8"?>
<DataType Key="34cdc386-367a-459c-a52d-46bb47711774" Alias="[Numeric] - Section Picker" Level="2">
  <Info>
    <Name>[Numeric] - Section Picker</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "min": 1,
  "step": 1,
  "max": 30
}]]></Config>
</DataType>