<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6d6b152b-3f5d-4ca3-8d11-79a9b4234cce" Alias="[Toggle] Default True" Level="2">
  <Info>
    <Name>[Toggle] Default True</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>