@inherits UmbracoViewPage
@{
    var siteSettings = Model.GetSiteSettings();
    if (siteSettings?.FooterContent is null) return;
}
<footer>
    <div>
        @await Html.GetBlockGridItemsHtmlAsync(siteSettings.FooterContent)
    </div>
</footer>
<script>
     function fadeNav() {
         let lastScrollY = window.scrollY;
         const navbar = document.getElementById('main-nav');
         const desktopNav = document.getElementById('desktop-nav');
         const mobileNav = document.getElementById('mobile-nav');
         const colorClass = document.body.classList.contains('bg-gold') ? 'bg-gold' : 'bg-black';
         if(navbar) {
             window.addEventListener('scroll', () => {
             if (window.scrollY > lastScrollY) {
                 navbar.classList.add('scroll-down');
             } else {
                 navbar.classList.remove('scroll-down');
                 if (window.scrollY != 0) {
                     desktopNav.classList.add(colorClass);
                     mobileNav.classList.add(colorClass);
                 } else {
                     desktopNav.classList.remove(colorClass);
                     mobileNav.classList.remove(colorClass);
                 }
             }
             lastScrollY = window.scrollY;
         })}
     }
     window.addEventListener('resize', fadeNav);
     window.onload = fadeNav;

     function openMenu() {
         const toggler = document.getElementById("nav-toggle");
         const links = document.getElementById("mobile-links");
         if (toggler && links) {
             if (links.classList.contains("menu-open")) {
                 document.body.classList.remove("menu-open");
                 links.classList.remove("menu-open");
                 toggler.classList.remove("menu-open");
             } else {
                 document.body.classList.add("menu-open");
                 links.classList.add("menu-open");
                 toggler.classList.add("menu-open");
             }

         }
     }
     function closeMenu() {
         const toggler = document.getElementById("nav-toggle");
         const links = document.getElementById("mobile-links");
         if(toggler && links) {
             if(window.innerWidth > 1100) {
                 document.body.classList.remove("menu-open");
                 links.classList.remove("menu-open");
                 toggler.classList.remove("menu-open");
             }
         }
     }
     if(document.getElementById("nav-toggle")) document.getElementById("nav-toggle").addEventListener("click", openMenu);
     window.addEventListener('resize', closeMenu);

        document.addEventListener("DOMContentLoaded", function () {
            const sections = document.querySelectorAll(".fade-in-section");

            const observer = new IntersectionObserver(entries => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        entry.target.classList.add("is-visible");
                    }
                });
        }, { threshold: 0.1 });

        sections.forEach(section => observer.observe(section));
    });
</script>