@inherits UmbracoViewPage
<span aria-hidden="true" class="background-video-cover"></span>
<video class="background-video" autoplay="" muted="" loop="" playsinline="" src="/videos/construction_worker_hero_bg.mp4" data-object-fit="cover"></video>
<div class="partial-top">
    <div class="hero-content">
        <h1>
            Can you <span class="color-gold">integrate</span> your SAP system with your Shutdown / Turnaround (<span class="color-gold">STO</span>) process<span class="color-gold">?</span>
        </h1>
        <p>
            <b>Yes you can!</b><br />
            Experience the power of integrating your SAP EAM system with your STO processes and reap the benefits during every single turnaround event.
            It doesn’t matter where you are in you STO integration journey.
            Companies can save 5% and even up to 10% of their annual turnaround budget by implementing an integrated STO.
        </p>
        <div class="hero-buttons">
            <a href="" class="button button-gold">
                Where is your STO pain?<br />
                Click here to find out
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" width="32" height="16"><rect width="256" height="256" fill="none" /><line x1="40" y1="128" x2="216" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16" /><polyline points="144 56 216 128 144 200" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16" /></svg>
            </a>
        </div>
    </div>
</div>
<div class="hero-filler"></div>